body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #2c3e50, #3498db);
  
}

.panel {
  padding: 20px;
  width: 40rem;
  text-align: center;
  background: #9bb2c9;
  position: relative;
}

.close-session {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid black;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: white;
}

.profile-container {
  margin: 20px 0;
}

.profile-button {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  border: 3px solid black;
  background: #e4e4e4;
  border-radius: 10px;
  text-decoration: none;
}

.user-icon {
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  margin: 20px auto 10px;
}

.body-icon {
  width: 90px;
  height: 50px;
  background: black;
  border-radius: 50px 50px 0 0;
  margin: 0 auto;
}

.edit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background: white;
}

.edit-icon::before {
  content: '✏️';
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 2px;
}

.agregar-texto {
  font-weight: bold;
  margin-top: 10px;
}

.table-container {
  margin-top: 30px;
}

.students-table {
  border-collapse: collapse;
  width: 100%;
}

.students-table th, .students-table td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.students-table th {
  background: white;
  font-weight: bold;
}

.table-title {
  margin-bottom: 10px;
}
