<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Estudiante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styilesRegisterStudent.css') }}">
</head>
<body class="body-form">
    <div class="form-container">
        <div class="form-box">
            <h2 class="form-title">Registrar nuevo estudiante</h2>

            {% if message %}
                <p class="success-message">{{ message }}</p>
            {% endif %}

            <form method="POST" class="form-body">
                <input type="text" name="name" class="input-field" placeholder="Nombre completo" required>
                <input type="text" name="program" class="input-field" placeholder="Programa académico" required>
                <input type="email" name="email" class="input-field" placeholder="Correo institucional" required>
                <input type="number" step="0.01" name="grade" class="input-field" placeholder="Nota final" required>

                <button type="submit" class="submit-btn">Guardar estudiante</button>
            </form>

            <div class="link-panel">
                <a href="{{ url_for('panel') }}" class="back-link">← Volver al panel</a>
            </div>
        </div>
    </div>
</body>
</html>
